---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Post 01" color="lime">
  <img
    src="https://images.unsplash.com/photo-1513407030348-c983a97b98d8?q=80&w=1200"
    alt=""
    transition:name="post-image-01"
  />
  <div transition:animate="fade">
    <h2>Post 01</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <p><a href="/">Back</a></p>
  </div>
</Layout>

<style>
  img {
    max-width: 800px;
  }
</style>
