<div transition:persist>
  <video controls="" autoplay playsinline muted>
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video>
</div>

<style>
  video {
    width: 200px;
  }
</style>
